@model ERP_Latest.Models.Student_Details

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student_Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentDob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentDob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAlternateEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentAlternateEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAlternateMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentAlternateMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentFatherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentFatherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentMotherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentMotherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPermanentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentPermanentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentCurrentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentCurrentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentFatherMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentFatherMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentMotherMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentMotherMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentBloodGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentBloodGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentCetRank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentCetRank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPreviousSchoolDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentPreviousSchoolDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentCommunity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentCommunity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentProgramme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentProgramme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentBatch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentBatch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentShift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentShift)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentIsMgmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentIsMgmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentIsOutDelhi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentIsOutDelhi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentCetType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentCetType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MentorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MentorId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StudentDetailId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
